body {
  margin: 0;
}

.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  display: block;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  padding-top: 200px;
  background-color: #282c34;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white !important;
}
.App p {
  color: #09d3ac;
}
.App-link {
  color: #09d3ac;
}
